# Set the default behavior to always be linefeed for linux
* text=auto

# Definitively text files
*.txt text eol=lf
*.php text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.rs text eol=lf
*.json text eol=lf
*.yaml text eol=lf
...

# Ensure those won't be changed
*.jpg -text
*.png -text
*.db -text
